.header__container{
    background: url(../../assets/guitar.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0.568);
    background-blend-mode: multiply;
    /* height: 84vh; */
    font-family: var(--font-family);
    align-items: center;
    margin: auto;
    animation: zoom infinite ease-in-out 6s;
    overflow: hidden;
}
.header__container-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 0 0 0;

}
.header__container-welcome{
    flex: 1;
    /* margin: 10% auto 0 auto; */
    cursor: default;
    margin-bottom: 15%;
}
.header__container-welcome h2{
    background: var(--linear-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    /* padding: 0 10px 0 10px; */
    
}
.header__container h2 span {
    font-size: 54px;
    transition: 1s;
}
.header__container:hover h2 span{
    background: var(--linear-gradient1);
    background-blend-mode: lighten;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 65px;
}
.header__container-welcome h4{
    font-size: 20px;
    color: var(--color-primary-variant);
    
}
.header__container-cta{
    background-color:  var(--color-bg1);
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 120px 200px 0 200px; */
    border-radius: 5px;
    /* justify-content: space-between; */
    padding: 20px 20px;
    /* margin: 0 15%; */
    /* width: 60%; */
}

.header__container-cta-rock h2{
    color: var(--color-texty);
    font-size: 25px;
}

.header__container-cta-rock h3{
    color: rgb(228, 120, 120);
    font-size: 16px;
}
.header__container-cta-button{
    width: 150px;
    color: white;
    background: var(--color-light);
    font-size: 22px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-left: 20px;
    padding: 5px ;
    display: flex;
    justify-content: center;
    /* font-family: var(--font-family); */
    font-weight: 500px;
    transition: 0.5s;
}
.header__container-cta:hover .header__container-cta-button{
    color: var(--color-light);
    background: white;
    cursor: pointer;
}
@keyframes zoom{
    0%{
        background-size: 100%;
    }
    50%{
        background-size: 110%;
    }
    100%{
        background-size: 100%;
        
    }
}

@media screen and (max-width:1024px) {
    .header__container-welcome h2{
        font-size: 40px;
    }
    .header__container h2 span {
        font-size: 44px;
    }
    .header__container:hover h2 span{
        font-size: 55px;
    }

    .header__container{
        /* height: 65vh; */
    }
}

@media screen and (max-width:800px) {
    .header__container-content{
        margin: 15% 0 0 0;
    }
    .header__container-welcome h2{
        font-size: 30px;
    }
    .header__container h2 span {
        font-size: 35px;
    }
    .header__container:hover h2 span{
        font-size: 40px;
    }
    .header__container-welcome h4{
        font-size: 16px;
    }
    .header__container-cta-rock h2{
        font-size: 20px;
    }
    
    .header__container-cta-rock h3{
        font-size: 14px;
    }
    .header__container-cta-button h4{
        font-size: 20px;
    }

    @keyframes zoom{
        0%{
            background-size: 120%;
        }
        50%{
            background-size: 130%;
        }
        100%{
            background-size: 120%;
            
        }
    }
}

@media screen and (max-width:600px) {
    .header__container{
        /* background-position-x: -120px; */
    }
    .header__container-content{
        margin: 15% 0 0 0;
    }
    .header__container-welcome h2{
        font-size: 30px;
    }
    .header__container h2 span {
        font-size: 35px;
    }
    .header__container:hover h2 span{
        font-size: 35px;
    }
    .header__container-welcome h4{
        font-size: 14px;
    }
    .header__container-cta{
        display:flex;
        flex-direction: column;
    }
    .header__container-cta-rock h2{
        font-size: 16px;
    }
    
    .header__container-cta-rock h3{
        font-size: 12px;
    }
    .header__container-cta-button{
        margin-top: 20px;
        width: 120px;
    }
    .header__container-cta-button h4{
        font-size: 18px;
    }

    @keyframes zoom{
        0%{
            background-size: 150%;
        }
        50%{
            background-size: 160%;
        }
        100%{
            background-size: 150%;
            
        }
    }
}

@media screen and (max-width:450px) {
    .header__container{
        background-position-x: -200px;
    }
    @keyframes zoom{
        0%{
            background-size: 210%;
        }
        50%{
            background-size: 220%;
        }
        100%{
            background-size: 210%;
            
        }
    }
}

@media screen and (max-width:350px) {
    .header__container{
        background-position-x: ;
    }
    .header__container-welcome h2{
        font-size: 25px;
    }
    .header__container h2 span {
        font-size: 28px;
    }
    @keyframes zoom{
        0%{
            background-size: 270%;
        }
        50%{
            background-size: 280%;
        }
        100%{
            background-size: 270%;
            
        }
    }
}